/* .dark-mode body {
    background-color: #15202b;
}

.dark-mode button{
    color: white;
}

.dark-mode h1 {

    color: white;
}

.dark-mode h1 span {
    color: #2bb82d;
    -webkit-text-stroke-color: #135014;


}

.dark-mode #botaoReciclar {
    background-color: #102a43;
    color: #ffffff;
}

.dark-mode nav {
    background-color: #0c295c;
}

.dark-mode nav ul li a {
    color: #ffffff;
}

.dark-mode nav ul li a:hover {
    color: #2bb82d;
}

.dark-mode .cards-text h3{
    color: #7dd05b;
}

.dark-mode .cards-container .card {
    border: 1px solid black;
}

.dark-mode .cards-container .cards-icon {
    background-color: #102a43;
}

.dark-mode cards-container button {
    border: 1px solid #001449;
    background-color: #102a43;
}

.dark-mode .cards-container button a {
    color: #f9f9f9;
}

.dark-mode .cards-container button {
    border: 1px solid black;
}

.dark-mode .barra-container {
    background-color: #15202b;
    border: solid black 1px;
}

.dark-mode .barra-item img,
.dark-mode .barra-item p,
.dark-mode .barra-item h2 {
    height: 32px;
    color: white;

}

.dark-mode .footer-container h3 {
    color: #3be13d;
  
}

.dark-mode .footer-container{
    background-color: #101922;
}

.dark-mode .footerb button {
    color: black;
    background: #ffffff00;
}

.dark-mode .footerb button:hover {
    color: #2bb82d;
}

.dark-mode #footer-empresas-h2{
    color: white;
    background-color: #2bb82d;
}

.dark-mode p{
    color: white;
} */